:root {
  --custom-blue: #38bdf8;
  --custom-blue-darker: #0ea5e9;

  --bs-primary: var(--custom-blue);
  --bs-primary-rgb: 56, 189, 248;

  --bs-body-font-family: 'Tahoma', sans-serif;
}

.text-primary-custom {
  color: var(--custom-blue) !important; 
}

.text-bg-primary-custom {
  color: #fff !important;
  background-color: var(--custom-blue) !important;
}

.btn-primary-custom {
  background-color: var(--custom-blue);
  color: #111;
  border: none;
  font-weight: bold;
}

.btn-primary-custom:hover {
  background-color: var(--custom-blue-darker);
  color: #111;
}

.hero {
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 80px;
}